@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Ubuntu Mono', monospace;
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;

}
:root{
    --text-color: #f1f0f7;
    --bg-color: #47996b;
}   
header{
    z-index: 1;
    position: fixed;
    top: 0px; /*/////////////////////////////////////////////////////*/
    width: 100%;
    background: var(--bg-color);
}
.containerxx{
    
    max-width: 1068px;
    width: 100%;
    display: inline-block;
    position: relative;
    left: 950px; 
    justify-content:space-evenly;
    padding: 20px ; 
   
}
#home{
    position: relative;
    top: 5px;
    /* border-bottom: solid 2px rgb(250, 250, 250);*/
    padding-bottom: 3px; 
    width: 20px; 
}
.containerxx span{
    
    margin: 5px;
    padding: 2px;
     
     
}
.menu{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
   
}
#nutrition{
    border-bottom: solid 2px rgb(250, 250, 250);
 
 }
.body{
    background-color: #f5f8ff;
    
}
.wrapper{
    width: 95%;
    margin: 0 auto;
    position:relative;
    top: 60px;
    
}
#search-container{
    margin: 1em 0;
}
#search-container input{
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid black;
    padding: 1em 0.3em;
    
}
#search-container input:focus{
    border-bottom-color: #47996b;
}
#search-container button{
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #47996b;
    color: white;
    border-radius: 5px;
    margin-top: 0.5em;
}
.button-value{
    border: 2px solid #47996b;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #47996b;
    cursor: pointer;
}
.active{
    background-color: #47996b;
    color: white;
}
#food{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 5em 0;
}
.card{
    background-color: #f2f6f2;
    max-width: 25em;
    max-height: 30em;
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1,2,68,0.08);
    
}
.image-container{
    text-align: center;
}
img{
    max-width: 100%;
    object-fit: contain;
    height: 15ems;
}
.container{
    padding-top: 1em;
    color: black;
}
.container h5{
    font-weight: 500;
   
}
.hide{
    display: none;
}
@media  screen and (max-width: 720px) {
    img{
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }
    .card{
        max-width: 10em;
        margin-top: 1em;
    }
    #food{
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }
}
#logout{
    padding: 2px 10px;
    width: 1000px;
    background-color: #548038;
    box-sizing: border-box;
    border-radius: 90px;
}
#logout:hover{
    padding: 4px 12px;
    transition: width .1s, height .1s;
 }